<div id="sidebar">
  <div class="sidebar-item">
    {{#each website.metadata.authors}}
    <div class="author">
      <img class="avatar" src="{{this.avatar}}">
      <p class="name">{{this.name}}<span class="nick">({{this.nick}})</span></p>
      <p class="email"><a href="mailto:{{this.email}}" target="_blank">{{this.email}}</a></p>
      <p class="bio">{{this.bio}}</p>
    </div>
    {{/each}}
  </div>
  {{! TODO: additional links }}
  {{!
  <nav id="menu" role="navigation" class="sidebar-nav">
    <a class="sidebar-nav-item" href=""></a>
  </nav>
  }}
</div>
