<div id="sidebar">
  <div class="sidebar-item">
    <img src="{{avatar}}">
    <p><a href="{{link}}">{{user}}</a><span>({{nick}})</p>
    <p><a href="mailto:{{email}}" target="_blank">{{email}}</a></p>
    <p>{{bio}}</p>
  </div>
  {{! TODO: additional links }}
  {{!
  <nav id="menu" role="navigation" class="sidebar-nav">
    <a class="sidebar-nav-item" href=""></a>
  </nav>
  }}
</div>
