<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  {{! TODO: stylesheet }}
</head>
<body class="{{theme}}">
  <a id="sidebar-anchor" href="#article"></a>
  <input id="sidebar-checkbox" type="checkbox">
  {{> _sidebar ~}}
  <div class="wrapper">
    <div class="container">
      <div id="header" class="header">
        {{> _header ~}}
      </div>
      {{content}}
      <div id="footer" class="footer">
        {{> _footer ~}}
      </div>
    </div>
  </div>
  <label for="sidebar-checkbox"></label>
  {{! TODO: javascript }}
</body>
</html>
